<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.thomasmore.androidproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SplashScreen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splashscreen"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- Startpagina -->
        <activity
            android:name=".Startpagina"
            android:label="Startpagina"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Voormeting -->
        <activity
            android:name=".Voormeting"
            android:label="@string/title_activity_voormeting"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Training -->
        <activity
            android:name=".Training"
            android:label="@string/title_activity_training"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Pretraining -->
        <activity
            android:name=".Pretraining"
            android:label="@string/title_activity_pretraining"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>